# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
variable_a = 10
variable_b = 10

print(variable_a == variable_b) # Compare variables by value
print(id(variable_a) == id(variable_b)) # Compare object ids using id() method
print(variable_a is variable_b) # Check if variables refer the same object

True
True
True

Змінні будуть рівні за значенням, а також будуть посилатися на один і той самий обʼєкт в памʼяті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [2]:
boolean_variable = True

print(isinstance(boolean_variable, bool))
print(isinstance(boolean_variable, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [3]:
integer_variable = 10
float_variable = 3.65

print(integer_variable + float_variable)
print(integer_variable - float_variable)
print(integer_variable / float_variable)
print(integer_variable * float_variable)
print(integer_variable // float_variable)
print(integer_variable % float_variable)
print(integer_variable ** float_variable)

13.65
6.35
2.73972602739726
36.5
2.0
2.7
4466.835921509631

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [6]:
print(int(float_variable))

boolean_variable_exercise_4 = True

print(int(boolean_variable_exercise_4))

3
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [8]:
empty_string_a = str()
empty_string_b = ""

print(empty_string_a)
print(empty_string_b)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [9]:
default_string_with_apostrophe = "I'm learning Python!"
raw_string_with_apostrophe = r"I'm learning Python!"

print(default_string_with_apostrophe)
print(raw_string_with_apostrophe)

I'm learning Python!
I'm learning Python!

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [10]:
surname = "Igumnov"
formatted_surname_string = f"My surname is {surname}"

print(formatted_surname_string)

My surname is Igumnov

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [11]:
string_to_be_splitted = "My dog is crazy."
string_to_be_splitted_without_dot = string_to_be_splitted[0:-1]
splitted_string = string_to_be_splitted_without_dot.split(" ")

print(splitted_string)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [13]:
list_a = list((1, 2, 3, 4, 5))
list_b = [1, 2, 3, 4, 5]

print(len(list_a))
print(len(list_b))

5
5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [16]:
first_list = [5, 7, 5, 4, 1]
second_list = [9, 9, 3, 1]

first_list.append(second_list)

print(first_list)

[5, 7, 5, 4, 1, [9, 9, 3, 1]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [18]:
list_of_the_lists = [[5, 4, 2, 7], [1, 3, 1], [5], [10, 5, 15, 6], [-1, -2, -3, -4, -5, -6, -7]]

print(list_of_the_lists[-1][0]) # However, if the "first element" in the task means the element with the index 1 then the answer will be: list_of_the_lists[-1][1]

-1

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [20]:
list_of_elements_of_different_types = [15, 1.3, 2j + 6, False, "test", [4, -1, 2.33], (1, 2, 3), { "a": 123 }, True, "final"]

slice_of_the_list = list_of_elements_of_different_types[2:-2]

print(slice_of_the_list)

[(6+2j), False, 'test', [4, -1, 2.33], (1, 2, 3), {'a': 123}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [26]:
tuple_with_single_element = (1,)

print(tuple_with_single_element)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості:
 - Обидва зберігають впорядковані елементи
 - Доступ до елементів за індексом
 - Можуть містити елементи будь-якого типу

Відмінності:
 - Список - змінюваний (mutable), в той час як кортеж - незмінний (immutable)
 - Список працює повільніше, оскільки є змінюваним, кортеж відповідно - швидше
 - Список оголошується квадратними дужками - [], а кортеж - круглими ()
 - Список використовує більше памʼяті, а кортеж - менше
 - Список менш безпечний, так як його можна змінити. Кортеж - безпечніший у використанні
 - Кортеж можна використовувати як ключ у dict, якщо містить тільки незмінні типи, а список не можна взагалі
 - *Скоріше не відмінність, а просто рекомендації щодо викоростання*: список частіше використовуються для однорідних колекцій даних, які можуть змінюватися. Наприклад, список чисел або список рядків, в той час як кортеж частіше застосовуються для структурованих даних, де кожен елемент має своє значення, подібно до запису в базі даних

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [28]:
tuple_of_float_numbers = (0.6, 4.71, 4.4, 6.5, 8.41, -9.75, 10.3, 8.8, -7.54, 9.04, 11.94)

reversed_even_tupen_of_float_numbers = tuple_of_float_numbers[-1::-2]

print(reversed_even_tupen_of_float_numbers)

(11.94, -7.54, 10.3, 8.41, 4.4, 0.6)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [31]:
set_a = set()

set_a.add(123)
set_a.add("test")
set_a.add(True)
set_a.add((-4, 5.5, 2))

print(set_a)

{'test', (-4, 5.5, 2), 123, True}

Так, множини є змінним (mutable) типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [32]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}

Множина (set) містить лише унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [40]:
set_x = {1, 2, 3, 4, 5}
set_y = {4, 5, 6, 7, 8}

union_set = set_x.union(set_y)
print(f"Union: {union_set}")

intersection_set = set_x.intersection(set_y)
print(f"Intersection: {intersection_set}")

difference_set_x_y = set_x.difference(set_y)
print(f"Difference x\\y: {difference_set_x_y}")

difference_set_y_x = set_y.difference(set_x)
print(f"Difference y\\x: {difference_set_y_x}")

symmetric_difference_set = set_x.symmetric_difference(set_y)
print(f"Symetric difference: {symmetric_difference_set}")

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference x\y: {1, 2, 3}
Difference y\x: {8, 6, 7}
Symetric difference: {1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [41]:
my_dictionary = {}

my_dictionary["key"] = "string_key"
my_dictionary[3] = "integer_key"
my_dictionary[(1, 2, 3)] = "tuple_key"
my_dictionary[3.14] = "float_ley"

print(my_dictionary)

{'key': 'string_key', 3: 'integer_key', (1, 2, 3): 'tuple_key', 3.14: 'float_ley'}

Ні, список не може бути ключем у словнику, тому що списки є змінними об'єктами. Ключі словників повинні бути незмінними (hashable), їх значення не повинні змінюватися після того, як вони були використані як ключ.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [44]:
nested_dictionary = {
    "level_a": {
        "level_b": {
            "level_c": "level_c_value"
        }
    },
    "level_d": "level_d_value"
}

print(nested_dictionary["level_a"]["level_b"]["level_c"])

level_c_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.